<!DOCTYPE html>

{% load staticfiles %}
{% load likepost_extras %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spicy Memes</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'spicy_memes.css' %}">
    <link rel="stylesheet" href="{% static 'buttons.css' %}">

</head>
<body>
{% include 'nav.html' with active="index" %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1 id="headline" style="display: inline">{{ content }}</h1>
            {% if groupview %}
                <div class="dropdown pull-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Members
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {% for member in memberList %}
                            <li><a href="{% url 'spicy_memes:userprofile' member %}">{{ member.username }}</a></li>
                            </ul>
                        {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for post in memeList %}
            <div class="col-md-8 memes col-md-offset-8 ">
                <h3><a href="{% url 'spicy_memes:postDetail' post.id %}">{{ post.title }}</a></h3>
                <a href="{% url 'spicy_memes:postDetail' post.id %}" method="post">
                    {% if post|isVideo %}
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="{{ post.video_url }}" frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    {% else %}
                        {% if post.image_field %}
                            <img src="{{ post.image_field.url }}" class="img-responsive img-rounded"
                                 style="padding-top: 5px">
                        {% endif %}
                    {% endif %}
                </a>
                {% getPostLikes post as rating %}
                <strong>Posted by: </strong> <a href="{% url 'spicy_memes:userprofile' post.user %}">{{ post.user }}</a>
                <p class="pull-right">
                    <strong>Tags: </strong>
                    {% for tag in post.tags.all %}
                        <!--jeder tag ist in einer form und klickbar. es wird nach posts mit dem angeklickten tag gesucht-->
							<a href="{% url 'spicy_memes:search' %}?search_term={{ tag.name }}">{{ tag.name }}</a>  
                    {% endfor %}
                    <br>
                    <strong>Spiciness Factor: </strong><span id="rating{{ post.id }}">{{ post.get_likes }} </span>🌶️🌶️🌶️
                </p>
                <div id="test{{ post.id }}"></div>
                <div class="btn-toolbar vote">
                    <button href="#" id="upvote{{ post.id }}" class="btn2 btn2-default" type="submit" value="submit">
                        🌶️
                    </button>
                    <button href="#" id="downvote{{ post.id }}" class="btn2 btn2-default" type="submit" value="submit">
                        🍼
                    </button>
                    <a class="btn2 btn2-default" href="{% url 'spicy_memes:postDetail' post.id %}#commentanchor">💬</a>
                </div>
                <hr/>
            </div>
            <script>
                $(document).ready(function () {
                    $("#upvote{{post.id}}").click(function () {
                        var id = {{ post.id }};
                        var likes = 1;
                        $.get("{% url 'spicy_memes:like_post' %}", {
                            post_id: id,
                            likes: likes
                        }, function (data) {
                            $("#rating{{post.id}}").html(data);
                            if ($("#upvote{{post.id}}").hasClass('btn2-default')) {
                                $("#upvote{{post.id}}").removeClass('btn2-default').addClass('btn2-danger');
                                $("#downvote{{post.id}}").removeClass('btn2-info').addClass('btn2-default');
                            }
                            else {
                                $("#upvote{{post.id}}").removeClass('btn2-danger').addClass('btn2-default');
                            }
                        });
                        return false;
                    });
                    $("#downvote{{post.id}}").click(function () {
                        var id = {{ post.id }};
                        var likes = 0;
                        $.get("{% url 'spicy_memes:like_post' %}", {
                            post_id: id,
                            likes: likes
                        }, function (data) {
                            $("#rating{{post.id}}").html(data);
                            if ($("#downvote{{post.id}}").hasClass('btn2-default')) {
                                $("#downvote{{post.id}}").removeClass('btn2-default').addClass('btn2-info');
                                $("#upvote{{post.id}}").removeClass('btn2-danger').addClass('btn2-default');
                            }
                            else {
                                $("#downvote{{post.id}}").removeClass('btn2-info').addClass('btn2-default');
                            }
                        });
                        return false;
                    });
                });
            </script>
            {% if user|hasUpVotedPost:post %}
                <script>
                    $("#upvote{{post.id}}").removeClass('btn2-default').addClass('btn2-danger');
                </script>
            {% endif %}
            {% if user|hasDownVotedPost:post %}
                <script>
                    $("#downvote{{post.id}}").removeClass('btn2-default').addClass('btn2-info');
                </script>

            {% endif %}
        {% empty %}
            <div>There are no posts in this view or group. Spice it up by posting something fresh!!</div>
        {% endfor %}
    </div>
</div>
</body>

<script>
    headline = document.getElementById("headline");
    if (headline.innerHTML == "Fresh") {
        headline.innerHTML += " 👶";
    }
    else if (headline.innerHTML == "Spicy") {
        headline.innerHTML += " 🌶️";
    }
    else if (headline.innerHTML == "On Fire") {
        headline.innerHTML += " 🔥️";
    }
</script>
</html>