<!DOCTYPE html>

{% load staticfiles %}
{% load likepost_extras %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spicy Memes</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'spicy_memes.css' %}">

</head>
<body>
{% include 'nav.html' with active="index" %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1 id="headline">{{ content }}</h1>
        </div>
    </div>
    <div class="row">
        {% for post in memeList %}
            <div class="col-md-8 memes col-md-offset-8 ">
                <h3><a href="{% url 'spicy_memes:postDetail' post.id %}">{{ post.title }}</a></h3>
                <a href="{% url 'spicy_memes:postDetail' post.id %}" method="post">
                    <img src="{{ post.image_field.url }}" class="img-responsive img-rounded" style="padding-top: 5px">
                </a>
                {% getPostLikes post as rating %}
                <strong>Posted by: </strong> {{ post.user }}<p class="pull-right"><strong>Spiciness
                Factor: </strong> {{ rating }} 🌶️🌶️🌶️</p>
                <div class="btn-toolbar vote">
                    <form action="{% url 'spicy_memes:likePost' pk=post.id likes=1 %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-default" type="submit" value="submit">🌶️</button>
                    </form>
                    <form action="{% url 'spicy_memes:likePost' pk=post.id likes=0 %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-default" type="submit" value="submit">🍼</button>
                    </form>
                    <a class="btn btn-default" href="{% url 'spicy_memes:postDetail' post.id %}">💬</a>
                </div>
                <hr/>
            </div>
        {% endfor %}
    </div>
</body>

<script>
    headline = document.getElementById("headline");
    if (headline.innerHTML == "Fresh") {
        headline.innerHTML += " 👶";
    }
    else if (headline.innerHTML == "Spicy") {
        headline.innerHTML += " 🌶️";
    }
    else if (headline.innerHTML == "On Fire") {
        headline.innerHTML += " 🔥️";
    }
</script>
</html>