<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spicy Memes</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'spicy_memes.css' %}">

</head>
<body>
{% include 'nav.html' with active="index" %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>HOT 🔥</h1>
        </div>
    </div>
    {% for post in latest_meme_list %}
        <div class="row">

        <div class="col-md-8 memes col-md-offset-8 ">
            <div><label>Edit {{ post.title }}</label>
                <img src="{{ post.image_field.url }}" class="img-responsive img-rounded" style="padding-top: 5px">
                <p class="pull-right"><strong>Spiciness Factor: </strong> 500 🌶️🌶️🌶️</p>
                <br>
                <br>
                <a class="btn btn-default pull-right" href="{% url 'spicy_memes:deleteFile' pk=post.pk %}"><span class="glyphicon glyphicon-delete"></span><div class="uploadbtn">DELETE</div></a>
            </div>

        </div>
    {% endfor %}
    </div>
</body>
</html>