<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spicy Memes</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'spicy_memes.css' %}">

</head>
<body>
{% include 'nav.html' with active="index" %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>HOT 🔥</h1>
        </div>
    </div>
    <div class="row">
        {% for post in latest_meme_list %}
        <div class="col-md-8 memes col-md-offset-8 ">
            <h3><a href="{% url 'spicy_memes:postDetail' post.id %}">{{ post.title }}</a></h3>
            <a href="{% url 'spicy_memes:postDetail' post.id %}" method="post">
                <img src="{{ post.image_field.url }}" class="img-responsive img-rounded" style="padding-top: 5px">
            </a>
            <strong>Posted by: </strong> {{ post.user }}<p class="pull-right"><strong>Spiciness Factor: </strong> 500 🌶️🌶️🌶️</p> <br>
			<strong>Tags: </strong> <br>
			{% for tag in post.tags.all %} <!--jeder tag ist in einer form und klickbar. es wird nach posts mit dem angeklickten tag gesucht-->
				<form method="GET" action="{% url 'spicy_memes:search' %}">
					<input value="{{ tag.name }}" type="hidden" name="tags">
					<button type="submit" class="btn-link">{{ tag.name }}</button><br>
				</form>
			{% endfor %}
            <div class="btn-toolbar vote">
                <a class="btn btn-default" href="#">🌶️</a>
                <a class="btn btn-default" href="#">🍼</a>
                <a class="btn btn-default" href="{% url 'spicy_memes:postDetail' post.id %}">💬</a>
            </div>
            <hr/>
        </div>
        {% endfor %}
    </div>
</body>
</html>