<!DOCTYPE html>

{% load staticfiles %}
{% load likepost_extras %}
{% load vote_extras %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spicy Memes</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'spicy_memes.css' %}">

</head>
<body>
{% include 'nav.html' with active="index" %}
<div class="container">
    <div class="row">
        <div class="col-xs-8 memesdetail">
            <h3>{{ post.title }}</h3>
            <img src="{{ post.image_field.url }}" class="img-responsive img-rounded" style="padding-top: 5px">
            {% getPostLikes post as postRating %}
            <p><strong>Posted by: </strong><a href="{% url 'spicy_memes:userprofile' post.user.username %}">{{ post.user }}</a></p>
            <br>
            <p class="description">{{ post.description }}</p>
            <div class="btn-toolbar vote">
                <form action="{% url 'spicy_memes:likePost' pk=post.id likes=1 %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-default" type="submit" value="submit">🌶️</button>
                </form>
                <form action="{% url 'spicy_memes:likePost' pk=post.id likes=0 %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-default" type="submit" value="submit">🍼</button>
                </form>
                <a class="btn btn-default" href="{% url 'spicy_memes:postDetail' post.id %}">💬</a>
            </div>
            <hr/>
        </div>
        {% if owner and time_posted < 15 %}
            <div class="col-xs-6 col-lg-4 edit">
                <form action="{% url 'spicy_memes:editPost' post.id %}" method="post">
                    {% csrf_token %}
                    <h3>Edit your post</h3>
                    <p>You can edit your post for another {{ time_diff }} minute(s).</p>
                    <label>Title</label>
                    {{ editform.title }}
                    <br>
                    <label>Description</label>
                    {{ editform.description }}
                    <br>
                    <button type="submit" class="btn btn-default pull-left uploadbtn" value="submit">SUBMIT EDIT
                    </button>
                </form>
                <a class="btn btn-default pull-right" href="{% url 'spicy_memes:deleteFile' pk=post.pk %}"
                   onclick="return confirm('Are you sure you want to delete this Meme?')"><span
                        class="glyphicon glyphicon-delete"></span>
                    <div class="uploadbtn">DELETE</div>
                </a>
            </div>
            <br>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>
                <section id=commentanchor>Comments</section>
            </h3>
            <br>
            <form action="{% url 'spicy_memes:addComment' post.id %}" method="post">
                {% csrf_token %}
                <label>Any sauce to add?</label>
                <br>
                {{ commentform.content }}
                <button type="submit" class="btn btn-default pull-left uploadbtn" value="submit"
                        style="margin-bottom: 5px">COMMENT
                </button>
            </form>

            <br>

            {% for comment in sortedComments %}
                <br>
                <div class="col-xs-2 card hovercard" style="padding-top: 5px">
                    <div class="useravatar"><img class="img-responsive img-rounded"
                                                 src="{{ comment.user.profile_pic.url }}"></div>
                </div>
                <!--<div class="col-xs-2" style="padding-top: 5px"><img class="commentpic" src="{% static 'user/img/noPic.png' %}"></div>-->
                <div class="singlecomment col-xs-10">
                    <div class="cheading"><strong><a href="{% url 'spicy_memes:userprofile' comment.user %}">{{ comment.user }}</a></strong>

                        <span style="float: right">{{ comment.date }}</span></div>
                    <p>{{ comment.content|linebreaks }}</p>
                    <form action="{% url 'spicy_memes:voteComment' pk=comment.id likes=0 %}" method="post">
                        {% csrf_token %}
                        <div style="display: none">{{ voteform.likes }}</div>
                        <button class="btn btn-default" type="submit" value="submit"
                                style="display: inline; float: right; padding-left: 10px;">
                            <span id="cdownvote_{{ comment.id }}" class="glyphicon glyphicon-thumbs-down"
                                  aria-hidden="true"></span>
                        </button>
                    </form>
                    <form action="{% url 'spicy_memes:voteComment' pk=comment.id likes=1 %}" method="post">
                        {% csrf_token %}
                        <div style="display: none">{{ voteform.likes }}</div>
                        <button class="btn btn-default" type="submit" value="submit"
                                style="outline: none; display: inline; float: right; padding-left: 10px;">
                            <span id="cupvote_{{ comment.id }}" class="glyphicon glyphicon-thumbs-up"
                                  aria-hidden="true"></span>
                        </button>
                    </form>
                    {% getVotes comment as rating %}
                    <p id="rating_{{ comment.id }}">{{ rating }}</p>
                    {% if user|isAuthor:comment %}
                        <a href="{% url 'spicy_memes:deleteComment' pk=comment.id %}"
                           onclick="return confirm('Are you sure you want to delete this comment?')"><span
                                style="display: inline; color:grey">Delete my comment</span></a>
                    {% endif %}
                    <script>
                        rating = document.getElementById("rating_{{comment.id}}");
                        if (rating.innerHTML < 0) {
                            rating.style.color = "red";
                        }
                        else if (rating.innerHTML > 0) {
                            rating.style.color = "green";
                        }
                    </script>
                    {% if user|hasUpVoted:comment %}
                        <script>
                            upvotebtn = document.getElementById("cupvote_{{comment.id}}");
                            upvotebtn.style.color = "green";
                        </script>
                    {% endif %}
                    {% if user|hasDownVoted:comment %}
                        <script>
                            downvotebtn = document.getElementById("cdownvote_{{comment.id}}");
                            downvotebtn.style.color = "red";
                        </script>
                    {% endif %}
                    <br>
                    <hr/>
                </div>
            {% empty %}
                <br>
                <p>There are no comments yet.</p>
            {% endfor %}
        </div>
    </div>
</div>
</div>
</body>
</html>