<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spicy Memes</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'spicy_memes.css' %}">
</head>
<body>
<div class="container">
    <div class="row signup">
        <div class="col-md-offset-4 col-md-6">
            <h3>Create a <strong>Spicy Memes</strong> Account 🌶️</h3>
            <form action="/signUp/" method="post">
                {% csrf_token %}
                {% for field in signUpForm %}
                    <p>{{ field.label_tag }} <br/>{{ field }}</p>
                {% endfor %}
                <button type="submit" class="btn btn-default">Create New Account</button>
            </form>
            <div class="redirectLogin">
                <p>Already have an account?</p>
                <button type="button" class="btn btn-default ">Log In</button>
            </div>
        </div>
    </div>
</div>
</div>


</body>
</html>