<!DOCTYPE html>
<html lang="en">

<head>
  {% load staticfiles %}
  <title>User Profile</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- javaScript -->
  <script src="{% static 'user/js/userPageJs.js' %}"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'user/css/userPageStyles.css' %}" type = "text/css"/>

</head>
{% include 'nav.html' with active="index" %}
<body class="body" style="background-color:#f6f6f6">
  <div class="container-fluid">
    <div class="card hovercard">
      <div class="card-background">
        <img class="card-bkimg" alt="" src="{% static 'user/img/noPic.png' %}">
        <!-- http://lorempixel.com/850/280/people/9/ -->
      </div>
      <div class="useravatar">
        <img alt="" src="{% static 'user/img/noPic.png' %}">
      </div>
      <div class="card-info"> <span class="card-title">{{user.username}}</span>

      </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <div class="hidden-xs">User Info</div>

        </button>

      </div>
      <div class="btn-group" role="group">
        <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          <div class="hidden-xs">Settings</div>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <div class="hidden-xs">Groups</div>
        </button>
      </div>
    </div>

    <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <h3>User Info</h3>

        </div>
        <div class="tab-pane fade in" id="tab2">
          <h3>Settings</h3>
          Name: {{user.username}} <br/>
          E-Mail: {{user.email}} <br/><br/>

          <form name="edit_profile" method="get" action="edit_profile">
            {% csrf_token %}
            <input type="submit" value="Edit" class="btn btn-xs btn-info" />
          </form>
          <br/>
          <br/>
          <form name="change_password" method="get" action="change_password">
            {% csrf_token %}
            <input type="submit" value="Change your password" class="btn btn-xs btn-info" />
          </form>
          <br/>
          <br/>
          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#delete-account">Delete Account</button>
          <div id="delete-account" class="collapse">

            <form align="right" action="deleteUser" method="post">

              {% csrf_token %}
              {% for field in AuthForm %}
              <p>{{ field.label_tag }} <br/>{{ field }}</p>
              {% endfor %}
              <button type="submit" class="btn btn-default">Delete Account</button>
            </form>
          </div>

        </div>
        <div class="tab-pane fade in" id="tab3">
          <h3>Gruppen</h3>
        </div>
      </div>
    </div>

  </div>
</body>