<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    {% load likepost_extras %}
    <title>Spicy Memes</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'user/js/userPageJs.js' %}"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'user/css/userPageStyles.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'user/css/userStyles.css' %}" type="text/css"/>

</head>
{% include 'nav.html' with active="index" %}
<body class="body">
<div class="container">
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}

    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="{{ user2.profile_pic.url }}">
        </div>
        <div class="useravatar">
            <img alt="" src="{{ user2.profile_pic.url }}">
        </div>
        <div class="card-info"><span class="card-title">{{ user2.username }}</span>

        </div>
    </div>
    <div class="container-fluid" role="group" aria-label="..." id="profile">
        <!--btn-pref btn-group btn-group-justified btn-group-lg --> <!--btn-group-->
        <ul class="nav nav-pills nav-justified" role="group" id="profileTab1">
            <li>
                <a type="button" id="stars" class="active" href="#tab1" data-toggle="tab"
                   onclick="saveTab('#tab1')"><span
                        class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <div class="hidden-xs">Posted Memes</div>

                </a>
            </li>
            <li>
                <a type="button" id="favorites" class="btn" href="#tab2" data-toggle="tab"
                   onclick="saveTab('#tab2')"><span
                        class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    <div class="hidden-xs">Settings</div>
                </a>
            </li>
            <li>
                <a type="button" id="following" class="btn" href="#tab3" data-toggle="tab"
                   onclick="saveTab('#tab3')"><span
                        class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="hidden-xs">Groups</div>
                </a>
            </li>
        </ul>
    </div>

    <div class="well">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
                <h3 class="text-center">User Info</h3>
                <br>
                <h4><strong>Your spicy collection:</strong></h4><br/>
                <div class="row">
                    {% for post in user_meme_list %}
                        <div class="col-xs-3 thumbnail" style="margin: 10px">
                            <div style="margin-bottom: 10px; padding-bottom: 5px">
                                <span><strong><a href="{% url 'spicy_memes:postDetail' post.id %}">{{ post.title }}</a></strong></span>
                            </div>
                            <a href="{% url 'spicy_memes:postDetail' post.id %}" method="post">
                                {% if post|isVideo %}
                                    <iframe class="img-responsive text-center hidden-xs hidden-sm"
                                            src="{{ post.video_url }}" frameborder="0" allowfullscreen></iframe>
                                {% else %}
                                    {% if post.image_field %}
                                        <img src="{{ post.image_field.url }}"
                                             class="hidden-xs hidden-sm img-responsive img-rounded"
                                             style="padding-top: 5px">
                                    {% endif %}
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <! -- Settings Tab -->
            <div class="tab-pane fade in" id="tab2">
                <h3 class="text-center header">Settings</h3>
                <div class="row">
                    <div class="col-md-offset-1 col-md-4 button-wrapper">
                        <div class="btn-group-vertical btn-block " role="group">
                            <button type="button" onclick="changeContent('#general')" class="btn btn-info">General
                            </button>
                            <button type="button" onclick="changeContent('#password')" class="btn btn-info">Change
                                password
                            </button>
                            <button type="button" onclick="changeContent('#picture')" class="btn btn-info">Change
                                profile picture
                            </button>
                            <button type="button" onclick="changeContent('#delete-account')" class="btn btn-info">
                                Delete Account
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 content">

                        <div id="general">
                            <form name="edit_profile" method="post" action="edit_profile">
                                <p><strong>Change your username or email:</strong></p>
                                {% csrf_token %}
                                <p><strong>Username: </strong></p>
                                <p>{{ generalForm.username }}</p>
                                <p><strong>Email:</strong></p>
                                <p>{{ generalForm.email }}</p>
                                <button type="submit" class="btn btn-info submit pull-right">Submit</button>
                            </form>
                        </div>

                        <div id="password" class="hide">
                            <form method="post" action="change_password">
                                <p><strong>Change your password:</strong></p>
                                {% csrf_token %}

                                <p><strong>Old password: </strong></p>
                                <p>{{ passwordform.old_password }}</p>
                                <span><strong>New password: </strong><span id="passwordRequirements"
                                                                           class="glyphicon glyphicon-question-sign"
                                                                           data-toggle="tooltip" data-placement="right"
                                                                           title="<ul>
                                    <li>not too similar to your other personal information.</li>
                                    <li>contains at least 8 characters.</li>
                                    <li>no commonly used passwords</li>
                                    <li>not entirely numeric.</li>
                                </ul>" data-html="true">
                       </span></span>
                                <p>{{ passwordform.new_password1 }}</p>
                                <p><strong>New password confirmation: </strong></p>
                                <p> {{ passwordform.new_password2 }}</p>

                                <button type="submit" class="btn btn-info submit pull-right">Submit</button>
                            </form>
                        </div>

                        <div id="picture" class="hide">
                            <form action="changeProfilePic" method="post" enctype="multipart/form-data">
                                <p><strong>Change your profile picture:</strong></p>
                                {% csrf_token %}
                                {{ profilepicform.profile_pic }}
                                <button type="submit" class="btn btn-info submit pull-right">Submit</button>
                            </form>
                        </div>

                        <div id="delete-account" class="hide">
                            <form action="deleteUser" method="post">
                                <p><strong>Delete your account:</strong></p>
                                {% csrf_token %}
                                {% for field in AuthForm %}
                                    <p>{{ field.label_tag }} <br/>{{ field }}</p>
                                {% endfor %}
                                <button type="submit" class="btn btn-info submit pull-right">Delete Account</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in" id="tab3">
                <h3 class="text-center"> Your Groups</h3>
                <div class="row">
                    <ul class="list-group col-md-offset-2 col-md-8">
                        {% for group in user_group_list %}
                            <li class="list-group-item clearfix">
                                <a href="{% url 'spicy_memes:content' content="fresh" group_name=group.name %}">{{ group.name }}</a>
                                <div class="btn-toolbar">
                                    <button class="btn btn-danger pull-right btn-sm" role="button"
                                            href="{% url 'spicy_memes:leaveGroup' name_group=group.name name_user=user.username %}">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal"
                                            data-target=".modal-invite"><span class="glyphicon glyphicon-envelope"
                                                                              aria-hidden="true"></span>
                                    </button>
                                </div>
                                {% empty %}
                            <li class="list-group-item"> You are not member of a group yet.</li>
                            </li>
                        {% endfor %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10 pull-right">
                                    <form method="POST" action="{% url 'spicy_memes:createGroup' %}">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"
                                                   name="name" placeholder="Enter Spicy Group Name ..."/>
                                            <div class="input-group-btn">
                                                <div class="btn-group">
                                                    <button class="btn btn-info" type="submit">Create new Group
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="modal fade modal-invite" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Invite a new member:</h4>
                            </div>
                            <div class="modal-body">
                                <form name="inviteUser" method="post" action="spicy_memes:inviteUser">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               name="name"
                                               placeholder="Enter your friends name ..."/>
                                        <div class="input-group-btn">
                                            <div class="btn-group">
                                                <button class="btn btn-info" type="submit"
                                                        id="invite_submit {{ form.field.value|default_if_none:"Test" }}">
                                                    Invite to group
                                                </button>
                                            </div>
                                        </div>
                                        <script>
                                            $(document).ready(function () {
                                                $("#invite_submit {{ user_name }}").click(function () {
                                                    print("Hier " + user_name)
                                                    var name = {{ user_name }};
                                                    $.get("{% url 'spicy_memes:inviteUser' user_name %}", {}, function (data) {
                                                        $("#error_or_suc").html("success");
                                                    })
                                                })
                                            });
                                        </script>
                                        <p id="error_or_suc"></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="list-group col-md-offset-2 col-md-8">
                        <form>
                            <h4>Pending Invitations:</h4>
                            <ul class="list-group">
                                {% for invite in group_invites %}
                                    <li class="list-group-item">
                                        <h5>{{ invite.group.name }}</h5>
                                        <a class="btn btn-success pull-right"
                                           href="{% url 'spicy_memes:acceptInvite' name_group=invite.group.name name_user=invite.user.username %}">Accept</a>
                                        <a class="btn btn-danger pull-right"
                                           href="{% url 'spicy_memes:declineInvite' name_group=invite.group.name name_user=invite.user.username %}">Decline</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    var active = '#general';
    var activeId = 'activeid';
    var activeTab;

    function changeContent(id) {
        $(active).addClass('hide');
        $(id).removeClass('hide');
        active = id;
        activeTab = id;
        localStorage.setItem(activeId, activeTab);
    }

    // save the last tab in local storage
    var tabId = 'tabid';
    var tab;
    function saveTab(id) {

        tab = id;
        localStorage.setItem(tabId, tab);

    }

    // Timeout Alert
    $(".alert").fadeTo(7000, 500).slideUp(500, function () {
        $(".alert").slideUp(500);
    });

    var lastTab;
    var lastActive;

    $(document).ready(function () {

        // get to the latest tab, if it exists
        lastTab = localStorage.getItem(tabId);
        // toggle the last tab
        $('#profile a[href="' + lastTab + '"]').tab('show');

        // get the last active content on the settings tab
        lastActive = localStorage.getItem(activeId);
        // show the content
        changeContent(lastActive);

        // Tooltip Password info
        $('[data-toggle="tooltip"]').tooltip();

        //Popover Invite
        $('[data-toggle="popover"]').popover({container: 'body'});

    });

</script>
</body>
